@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* colors */
  --primary-color: #6200EE;
  --letter-bg-color: #323B3C;
  --bg-color: #8c9697;
  --bg-color-light: #d4d7d7;
  --error-color: #B00020;
  --white-color: #FFF;
}

body {
  /* border: 1px solid cyan; */
  height: 100vh;
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--letter-bg-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* --header-- */
header {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  /* color: var(--bg-color); */
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
}

/* --content-- */
.content {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  margin-top: 50px;
  /* height: 100%; */
  background-color: var(--bg-color-light);
}

/* --nav-- */
nav {
  padding: 1rem 2rem;
  width: 200px;
}

/* --main-- */
main {
  /* align-items: stretch; */
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.form-container {
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 900px;
  background-color: var(--white-color);
}

.form-container form {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
}

.form-container__seccion {
  flex-direction: column;
  display: flex;
  width: 400px;
}

.form-container__seccion h3 {
  color: var(--main-bg-color);
  font-size: 22px;
  margin-bottom: .6rem;
}

.form-container__field {
  display: inline-block;
  margin-bottom: .6rem;
  width: 100%;
}

.form-container__field p {
  font-size: 12px;
  margin-top: .03rem;
}

.form-container__field-select,
.form-container__field input{
  font-family: 'Roboto', sans-serif;
  height: 45px;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;
  width: 100%;
}

.form-container__field-check {
  margin-bottom: .7rem;
  display: inline-block;
  line-height: 24px;
}

.form-container__radio-btn {
  display: flex;
  justify-content: space-between;
  margin-top: .6rem;
  margin-bottom: 1rem;
}

/* .form-container__field-select option {
  height: 100px;
} */

.form-container__field-price {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-container__field-price span {
  font-weight: normal;
  font-style: italic;
}

.btn {
  align-self: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  height: 55px;
  letter-spacing: .1rem;
  width: 190px;
  background-color: #f5f5f5;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* .btn-unactive {
  background-color: #6200EE;
  color: white;
} */

/* --footer-- */
footer {
  border: 1px solid red;
  height: 50px;
}

.room_space{
  padding: 30px;
  border: black solid 1px;
}

.room_table{
  font-family: "Fraunces", serif;
  font-size: 125%;
  white-space: nowrap;
  margin: 0;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  border: 1px solid black;
}
table td,
table th {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}
table thead th {
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
  background: white;
}
table td {
  background: #fff;
  padding: 4px 5px;
  text-align: center;
}